<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>
    <div class="container-md">

        <form class="mt-5 mb-5">

            <div class="input-group mb-3">
                <input id="location" type="text" class="form-control form-control-lg" placeholder="Location"
                    aria-label="Location" aria-describedby="button-search">
                <div class="input-group-append append-end">
                    <button class="btn btn-primary" type="submit" id="button-search">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-link" type="submit" id="button-current">
                        <i class="fas fa-location-arrow"></i>
                    </button>
                </div>
            </div>

        </form>

        <p id="message-1"></p>

        <div id="weather-details" class="invisible">

            <div class="row justify-content-center">
                <div class="col-auto current-icon"><span id="current-icon"><i class="fas fa-cloud-rain"></i></span>
                </div>
                <div class="col-auto">
                    <h1 class="current-state mb-0"><span id="current-temperature">59</span>&deg <span
                            id="current-state">Partly Cloudy</span></h1>
                    <p class="sub-temps">
                        Feels Like: <span class="temp"><span id="apparent-temperature">59</span>&deg;</span>
                        Low: <span class="temp"><span id="low-temperature">59</span>&deg;</span>
                        High: <span class="temp"><span id="high-temperature">59</span>&deg;</span>
                    </p>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-auto">
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-secondary" id="hourlyBtn">Hourly</button>
                        <button type="button" class="btn btn-secondary" id="dailyBtn">Daily</button>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mb-5">
                <div class="col-10">
                    <div class="table-responsive">
                        <table class="table mt-5" id="forecastTable">

                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>