body {
	color: #333333;
	background-color: #f5f5f5;
	font-family: "Helvetica Neue", sans-serif;
}

.current-icon {
	font-size: 3rem;
}

.sub-temps {
	font-weight: bold;
	font-size: 0.85rem;
}

.sub-temps > .temp {
	font-weight: 250;
}

.append-end > .btn {
	border-top-right-radius: 0.3rem !important;
	border-bottom-right-radius: 0.3rem !important;
}
